@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main {
  overflow: hidden;
}
.header{
  transition: .4s;
}
.section {
  padding: 4.5rem 0 1rem;
}
li{
  list-style-type: none;
}